
<%- include('includes/head') %>
<header class="container my-4">
    <div class="row">
        <div class="col-12 col-lg-6 ">
            <h1 class=" text-center text-md-end">Olá <%= user.email %></h1>
            <p class="lead text-center text-md-end text-muted">Voce presica sair para criar outra conta</p>
        </div>
    </div>
</header>

<%- include('includes/messages') %>


<%- include('includes/footer') %>



